.input {
  border-radius: 6px;
  border: 1px solid transparent;
  background-color: var(--bg1);
  transition: border-color 0.2s;
  width: 100%;
  box-sizing: border-box;
  &:has(~ .suffix) {
    border-radius: 6px 0 0 6px;
  }
}
.input-wrapper {
    position: relative;
}

.input:focus {
  border-color: var(--primary, #3AB78F);
  outline: none;
}

.input::placeholder {
  color: var(--text-weak);
  opacity: 1;
}

.label {
  color: var(--text-muted);
  font-size: var(--font-body);
  font-weight: 400;
}

.inputSmall {
  height: 28px;
  font-size: var(--font-body-small);
  padding: 8px;
}

.inputMedium {
  height: 36px;
  font-size: var(--font-body);
  padding: 8px 12px;
}

.inputLarge {
  height: 44px;
  font-size: var(--font-body);
  padding: 12px 16px;
}

.labelSmall {
  font-size: var(--font-body-small);
  font-weight: 400;
  color: var(--text-muted);
}

.labelMedium {
  font-size: var(--font-body);
  font-weight: 400;
  color: var(--text-muted);
}

.labelLarge {
  font-size: var(--font-body);
  font-weight: 400;
  color: var(--text-muted);
}

.inputWarning {
  border-color: var(--warning, #FF3D60);
  &:focus {
    border-color: var(--warning, #FF3D60);
  }
}

.warningMessage {
  color: var(--warning, #FF3D60);
  font-size: var(--font-body-small);
  position: absolute;
  bottom: -20px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.prefix, .suffix {
  font-size: var(--font-body);
  color: var(--text-muted);
}

.prefix {
    border: 1px solid var(--border-default);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px 8px 16px;
    box-sizing: border-box;
    border-radius: 6px 0 0 6px;
    font-size: var(--font-body);
    color: var(--text-muted);
    &:has(select) {
        padding: 0;
    }
    select {
        border: none;
        outline: none;
        padding: 8px;
        margin-right: 8px;
        color: var(--text-muted);
        background: transparent;
        font-size: var(--font-body);
        font-weight: 400;
        cursor: pointer;
    }
    & + input {
        border-radius: 0 6px 6px 0;
    }
}

.prefixSmall {
    height: 28px;
    padding: 8px;
    font-size: var(--font-body-small);
}

.prefixMedium {
    height: 36px;
    padding: 8px 12px 8px 16px;
    font-size: var(--font-body);
}

.prefixLarge {
    height: 44px;
    padding: 12px 16px;
    font-size: var(--font-body);
}

.suffix {
    border: 1px solid var(--border-default);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px 8px 12px;
    box-sizing: border-box;
    border-radius: 0 6px 6px 0;
    font-size: var(--font-body);
    color: var(--text-muted);
    &:has(select) {
        padding: 0;
    }
    select {
        border: none;
        outline: none;
        padding: 8px;
        margin-right: 8px;
        color: var(--text-muted);
        background: transparent;
        font-size: var(--font-body);
        font-weight: 400;
        cursor: pointer;
    }
}

.suffixSmall {
    height: 28px;
    padding: 8px;
    font-size: var(--font-body-small);
}

.suffixMedium {
    height: 36px;
    padding: 8px 16px 8px 12px;
    font-size: var(--font-body);
}

.suffixLarge {
    height: 44px;
    padding: 12px 16px;
    font-size: var(--font-body);
}

.input[type='number']::-webkit-outer-spin-button,
.input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input[type='number'] {
  -moz-appearance: textfield;
}
