.input {
  height: 40px;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid transparent;
  background-color: var(--grey1, #F2F2F2);
  transition: border-color 0.2s;
  font-size: var(--font-body);
  width: 100%;
  box-sizing: border-box;
  &:has(~ .suffix) {
    border-radius: 6px 0 0 6px;
  }
}
.input-wrapper {
    position: relative;
}

.input:focus {
  border-color: var(--primary, #3AB78F);
  outline: none;
}

.input::placeholder {
  color: var(--grey3, #A0A2A7);
  opacity: 1;
}

.label {
  color: var(--grey4, #77787E);
  font-size: var(--font-body);
  font-weight: 400;
}

.inputSmall {
  height: 24px;
  font-size: var(--font-body-small);
  padding: 8px;
}

.labelSmall {
  font-size: var(--font-body-small);
  font-weight: 400;
  color: var(--grey4, #77787E);
}

.inputWarning {
  border-color: var(--warning, #FF3D60);
  &:focus {
    border-color: var(--warning, #FF3D60);
  }
}

.warningMessage {
  color: var(--warning, #FF3D60);
  font-size: var(--font-body-small);
  position: absolute;
  bottom: -20px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.prefix, .suffix {
  font-size: var(--font-body);
  color: var(--grey4, #77787E);
}

.prefix {
    border: 1px solid var(--grey2, #D3D5DD);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px 8px 16px;
    box-sizing: border-box;
    border-radius: 6px 0 0 6px;
    font-size: var(--font-body);
    color: var(--grey4);
    &:has(select) {
        padding: 0;
    }
    select {
        border: none;
        outline: none;
        padding: 8px;
        margin-right: 8px;
        color: var(--grey4, #77787E);
        background: transparent;
        font-size: var(--font-body);
        font-weight: 400;
        cursor: pointer;
    }
    & + input {
        border-radius: 0 6px 6px 0;
    }
}

.suffix {
    border: 1px solid var(--grey2, #D3D5DD);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px 8px 12px;
    box-sizing: border-box;
    border-radius: 0 6px 6px 0;
    font-size: var(--font-body);
    color: var(--grey4);
    &:has(select) {
        padding: 0;
    }
    select {
        border: none;
        outline: none;
        padding: 8px;
        margin-right: 8px;
        color: var(--grey4, #77787E);
        background: transparent;
        font-size: var(--font-body);
        font-weight: 400;
        cursor: pointer;
    }
}

.input[type='number']::-webkit-outer-spin-button,
.input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input[type='number'] {
  -moz-appearance: textfield;
}
