.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.label { 
  font-size: var(--font-body);
  color: var(--text-muted);
}

.labelSmall {
  font-size: var(--font-body-small);
  font-weight: 400;
  color: var(--text-muted);
}

.labelMedium {
  font-size: var(--font-body);
  font-weight: 400;
  color: var(--text-muted);
}

.labelLarge {
  font-size: var(--font-body);
  font-weight: 400;
  color: var(--text-muted);
}

.selectWrapper {
  position: relative;
}

.select {
  border-radius: 6px;
  border: 1px solid transparent;
  background-color: var(--bg1);
  transition: border-color 0.2s;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selectSmall {
  height: 28px;
  font-size: var(--font-body-small);
  padding: 4px 32px 4px 8px;
}

.selectMedium {
  height: 36px;
  font-size: var(--font-body);
  padding: 8px 32px 8px 12px;
}

.selectLarge {
  height: 44px;
  font-size: var(--font-body);
  padding: 12px 32px 12px 16px;
}
.arrow {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  font-size: var(--font-body);
  border-radius: 6px;
  box-shadow: var(--shadow-diffuse);
  z-index: 10;
  margin: 0;
  padding: 0;
  list-style: none;
  .option:has(input) {
    padding: 0;
    label {
      width: 100%;
      padding: 8px;
    }
  }
}
.option {
  height: 36px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background 0.2s;
  box-sizing: border-box;
  &:hover {
    background: var(--primary-10, #3AB78F1a);
  }
}
.placeholder {
  color: var(--text-weak);
}
