.tabsSecondary {
  display: flex;
  height: 36px;
  border-radius: 10px;
  border: 1px solid var(--border-default);
  padding: 3px;
  gap: 4px;
  width: fit-content;
  box-sizing: border-box;
}

.tab {
  background: transparent;
  height: 28px;
  padding: 4px 20px;
  font-size: var(--font-h6, 14px);
  font-weight: var(--font-weight-bold);
  color: var(--text-weak);
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, border-bottom 0.2s;
  display: flex;
  align-items: center;
  gap: 4px;
}

.selected {
  color: var(--primary, #3AB78F);
  border: 1px solid var(--primary, #3AB78F);
  background: var(--primary-10, #3AB78F10);
}

.icon {
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
} 