.bs-textarea-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
  position: relative;
}

.bs-textarea-label {
  color: var(--text-muted);
  font-size: var(--font-body);
  font-weight: 400;
}

.bs-textarea-toolbar {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
  padding: 8px 12px;
  position: absolute;
  top: 26px;
  left: 1px;
  right: 1px;
  background-color: var(--bg1);
  border-bottom: 1px solid var(--grey2, #D3D5DD);
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
  & + .bs-textarea {
    padding-top: 44px;
  }
}

.bs-textarea-toolbar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg1);
  border: none;
  border-radius: 4px;
  height: 20px;
  min-width: 16px;
  font-size: var(--font-body-small);
  cursor: pointer;
  color: var(--text-subtle);
  transition: background 0.2s, color 0.2s;
  &:hover {
    background-color: var(--bg2);
  }
}

.bs-textarea {
  min-height: 120px;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid transparent;
  background-color: var(--bg1);
  color: var(--text-default), #161616);
  transition: border-color 0.2s;
  font-size: var(--font-body);
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  font-family: inherit;
  &:focus {
    border-color: var(--primary, #3AB78F);
    outline: none;
  }
  &::placeholder {
    color: var(--text-weak);
    opacity: 1;
  }
}

.bs-textarea--warning {
  border-color: var(--warning, #FF3D60);
  &:focus {
    border-color: var(--warning, #FF3D60);
  }
}
.bs-textarea-warning-text {
  color: var(--warning, #FF3D60);
  font-size: var(--font-body-small);
  position: absolute;
  bottom: -16px;
}

.bs-textarea-style-select {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg1);
  border: none;
  border-radius: 4px;
  height: 20px;
  font-size: var(--font-body-small);
  cursor: pointer;
  color: var(--text-subtle);
  transition: background 0.2s, color 0.2s;
  &:hover {
    background-color: var(--bg2);
  }
  &:focus {
    outline: none;
  }
}