.filtersBar {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
  background: var(--bg-default);
  border: 1px solid var(--border-default);
  border-radius: 8px;
  width: fit-content;
}

.filtersBar__searchbox {
  flex-shrink: 0;
}

.filtersBar__filters {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filtersBar__button {
  flex-shrink: 0;
  position: sticky;
  right: 0;
  background: var(--bg-default);
  z-index: 1;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -8px;
    right: -4px;
    height: 100%;
    background: var(--bg-default);
    z-index: -1;
  }
}
