.filtersBar {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px;
  background: var(--bg-default);
  border: 1px solid var(--border-default);
  border-radius: 8px;
}

.filtersBar__searchbox {
  flex-shrink: 0;
}

.filtersBar__filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  flex: 1;
}

.filtersBar__button {
  flex-shrink: 0;
  margin-left: auto;
}
