.panel {
  background: var(--bg-default);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-sm);
}

.panel__header {
  padding: 20px 20px 4px 20px;
  color: var(--text-default);
}

.panel__headerContent {
  display: flex;
  align-items: center;
  gap: 8px;
}

.panel__icon {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.panel__title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-h3);
  color: var(--text-default);
  flex: 1;
}

.panel__description {
  margin-top: 8px;
  font-size: var(--font-body);
  color: var(--text-muted);
  line-height: 1.5;
}

.panel__body {
  padding: 20px;
  flex: 1;
  color: var(--text-default);
}

.panel__footer {
  padding: 8px 20px;
  height: 60px;
  box-sizing: border-box;
  box-shadow: var(--shadow-upwards-sm);
  border-radius: 0 0 8px 8px;
}

