.secondBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background: var(--bg-default);
  border-bottom: 1px solid var(--border-default);
  height: 60px;
  gap: 16px;
}

.secondBar__tabs {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  bottom: -1px;
}

.secondBar__button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

