.tableWrapper {
  width: 100%;
  overflow-x: auto;
  position: relative;
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }

  tr {
    background: var(--bg-default);
    border-bottom: 1px solid var(--border-default);
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background: var(--bg-xxlight);
    }
  }

  thead tr, tr.expandedRow {
    &:hover {
      background: var(--bg-default);
    }
  }

  tfoot tr {
    border-top: 1px solid var(--border-default);
  }

  td {
    padding: 4px 12px;
    height: 48px;
    font-size: var(--font-body, 14px);
    box-sizing: border-box;
  }

  th {
    padding: 0 12px;
    height: 36px;
    font-size: var(--font-h6, 14px);
    font-weight: var(--font-weight-bold, 600);
    user-select: none;
  }
}

.title {
  font-size: var(--font-h2, 21px);
  font-weight: var(--font-weight-bold, 600);
  margin-bottom: 8px;
}

.tableActions {
  position: absolute;
  right: 0;
}

.tableActions + .table tr td:last-child, .tableActions + .table tr th:last-child {
  padding-right: 24px;
}

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.sortIcon {
  margin-left: 0.25em;
  font-size: 0.85em;
}

.actionsCol {
  width: 1%;
  white-space: nowrap;
}

.actionsOnHover td:last-child {
  opacity: 0;
  transition: opacity 0.2s;
}
.actionsOnHover:hover td:last-child {
  opacity: 1;
}

td.expandCol {
  width: 24px;
  text-align: center;
  padding-right: 4px;
  button {
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    vertical-align: middle;
    svg path {
      stroke: var(--grey4, #77787E);
    }
  }
}

.expandedRow {
  color: var(--text-subtle);
  .tableWrapper {
    background-color: var(--bg-xxlight);
    border-radius: 12px;
    margin-left: 40px;
    box-sizing: border-box;
    table {
      border-collapse: collapse;
    }
    td, th {
      height: 40px;
      border-top: none;
      &:first-child {
          padding-left: 0;
      }
    }
  }
}

.totalsRow {
  position: sticky;
  bottom: 0;
  font-weight: var(--font-weight-bold, 600);
  z-index: 1;
}

.tableActionsButton {
  background: var(--bg-default);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  width: 24px;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-sm, 0px 4px 4px 0px rgba(0, 0, 0, 0.08));
}

.actionsDropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 160px;
  background: #fff;
  font-size: var(--font-body);
  border-radius: 6px;
  box-shadow: var(--shadow-difuse);
  z-index: 10;
  margin: 0;
  padding: 0;
  list-style: none;
  .actionsDropdownItem:has(input) {
    padding: 0;
    label {
      width: 100%;
      padding: 8px;
    }
  }
}

.actionsDropdownItem {
  height: 36px;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background 0.2s;
  box-sizing: border-box;
  &:hover {
    background: var(--primary-10, #3AB78F1a);
  }
  svg {
    width: 16px;
    height: 16px;
  }
}