.body {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
}
.bodyLarge {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--black);
}
.bodySmall {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--black);
}
.bodyLight {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: var(--grey4);
}
.bodyLargeLight {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: var(--grey4);
}
.bodySmallLight {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: var(--grey4);
} 