.bs-button {
  display: inline-flex;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 400;
  &:hover {
    filter: brightness(1.1);
  }
  &:active {
    filter: brightness(1.15);
  }
}
.bs-button--primary {
  background-color: var(--primary, #3AB78F);
  color: white;
}
.bs-button--secondary {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  background-color: transparent;
  color: #333;
}
.bs-button--small {
  height: 24px;
  font-size: 12px;
}
.bs-button--medium {
  height: 40px;
  font-size: 14px;
}
.bs-button--large {
  height: 48px;
  font-size: 16px;
}
.bs-button--filled {
  background-color: var(--primary, #3AB78F);
  color: white;
  border: 1px transparent;
}
.bs-button--outline {
  background-color: var(--primary-10, #3AB78F1a);
  color: var(--black, #161616);
  border: 1px solid var(--primary, #3AB78F);
}
.bs-button--filled-warning {
  background-color: var(--warning, #FF3D60);
  color: white;
  border: 1px transparent;
}
.bs-button--outline-warning {
  background-color: var(--warning-10, #FF3D601a);
  color: var(--warning, #FF3D60);
  border: 1px solid var(--warning, #FF3D60);
}
.bs-button--subtle {
  background-color: transparent;
  color: var(--primary, #3AB78F);
  border: 1px transparent;
}
.bs-button--subtle-warning {
  background-color: transparent;
  color: var(--warning, #FF3D60);
  border: 1px transparent;
}

.bs-icon-button {
  padding: 0;
  border-radius: 6px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.bs-icon-button--small {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  padding: 0;
}

.bs-floating-button {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 16px rgba(0,0,0,0.18);
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 1000;
  font-size: 24px;
  padding: 0;
}
