.bs-button {
  display: inline-flex;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  &:hover {
    filter: brightness(1.1);
  }
  &:active {
    filter: brightness(1.15);
  }
}
.bs-button--primary {
  background-color: var(--primary, #3AB78F);
  color: white;
}
.bs-button--secondary {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  background-color: transparent;
  color: #333;
}
.bs-button--small {
  padding: 10px 16px;
  font-size: 12px;
}
.bs-button--medium {
  padding: 11px 20px;
  font-size: 14px;
}
.bs-button--large {
  padding: 12px 24px;
  font-size: 16px;
}
.bs-button--filled {
  background-color: var(--primary, #3AB78F);
  color: white;
  border: none;
}
.bs-button--outline {
  background-color: var(--primary-10, #3AB78F1a);
  color: var(--black, #161616);
  border: 1px solid var(--primary, #3AB78F);
}
.bs-button--filled-warning {
  background-color: var(--warning, #FF3D60);
  color: white;
  border: none;
}
.bs-button--outline-warning {
  background-color: var(--warning-10, #FF3D601a);
  color: var(--warning, #FF3D60);
  border: 1px solid var(--warning, #FF3D60);
}
.bs-button--subtle {
  background-color: transparent;
  color: var(--primary, #3AB78F);
  border: none;
}
.bs-button--subtle-warning {
  background-color: transparent;
  color: var(--warning, #FF3D60);
  border: none;
}
