.tabs {
  display: flex;
  border-bottom: 1px solid var(--grey2);
  height: 59px;
  gap: 4px;
  width: 100%;
}

.tab {
  background: transparent;
  border: none;
  outline: none;
  padding: 8px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--font-h5, 15px);
  font-weight: var(--font-weight-bold);
  color: var(--text-weak);
  border-bottom: 4px solid transparent;
}

.selected {
  position: relative;
  color: var(--text-default);
  border-bottom: 4px solid var(--primary, #3AB78F);
}

.icon {
  display: flex;
  align-items: center;
}

