@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body, html, #root, * {
  font-family: 'Poppins', sans-serif;
  --primary: #3AB78F;
  --primary-75: #3AB78Fbf;
  --primary-50: #3AB78F80;
  --primary-25: #3AB78F40;
  --primary-10: #3AB78F1a;
  --accent1: #844AFF;
  --accent1-75: #844AFFbf;
  --accent1-50: #844AFF80;
  --accent1-25: #844AFF40;
  --accent1-10: #844AFF1a;
  --accent2: #F2D42F;
  --accent2-75: #F2D42Fbf;
  --accent2-50: #F2D42F80;
  --accent2-25: #F2D42F40;
  --accent2-10: #F2D42F1a;
  --accent2-dark: #B89C00;
  --warning: #FF3D60;
  --warning-75: #FF3D60bf;
  --warning-50: #FF3D6080;
  --warning-25: #FF3D6040;
  --warning-10: #FF3D601a;
  --white: #FFFFFF;
  --white-75: #FFFFFFbf;
  --white-50: #FFFFFF80;
  --white-25: #FFFFFF40;
  --white-10: #FFFFFF1a;
  --black: #000000;
  --black-75: #000000bf;
  --black-50: #00000080;
  --black-25: #00000040;
  --black-10: #0000001a;
  --black-03: #00000008;
  --grey1: #F2F2F2;
  --grey2: #D3D5DD;
  --grey3: #A0A2A7;
  --grey4: #77787E;
  --grey5: #343434;
  --warning: #FF3D60;
  --black: #161616;
  --shadow-sm: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  --shadow-md: 0px 8px 8px 0px rgba(0, 0, 0, 0.08);
  --shadow-lg: 0px 14px 14px 0px rgba(0, 0, 0, 0.08);
  --shadow-xl: 0px 28px 20px 0px rgba(0, 0, 0, 0.08);
  --shadow-upwards-sm: 0px -4px 4px 0px rgba(0, 0, 0, 0.08);
  --shadow-difuse: 0px 4px 64px 0px rgba(0, 0, 0, 0.08);
}

:root {
  /* Font sizes */
  --font-body: 14px;
  --font-body-small: 12px;
  --font-body-large: 16px;
  --font-h1: 26px;
  --font-h2: 21px;
  --font-h3: 19px;
  --font-h4: 17px;
  --font-h5: 15px;
  --font-h6: 14px;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
} 