@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body, html, #root, * {
  font-family: 'Poppins', sans-serif;
}

:root,
[data-theme='light'] {
  /* Primitive colors */
  --white: #FFFFFF;
  --white-75: #FFFFFFbf;
  --white-50: #FFFFFF80;
  --white-25: #FFFFFF40;
  --white-10: #FFFFFF1a;
  --black: #161616;
  --black-75: #161616bf;
  --black-50: #16161680;
  --black-25: #16161640;
  --black-10: #1616161a;
  --black-03: #16161608;
  --grey050: #FAFAFA;
  --grey075: #F5F5F5;
  --grey1: #F2F2F2;
  --grey150: #E0E1E8;
  --grey2: #D3D5DD;
  --grey3: #A0A2A7;
  --grey4: #77787E;
  --grey5: #343434;
  --green: #3AB78F;
  --green-75: #3AB78Fbf;
  --green-50: #3AB78F80;
  --green-25: #3AB78F40;
  --green-10: #3AB78F1a;
  --green-pseudo10: #EBF8F4;
  --purple: #844AFF;
  --purple-75: #844AFFbf;
  --purple-50: #844AFF80;
  --purple-25: #844AFF40;
  --purple-10: #844AFF1a;
  --yellow: #F2D42F;
  --yellow-75: #F2D42Fbf;
  --yellow-50: #F2D42F80;
  --yellow-25: #F2D42F40;
  --yellow-10: #F2D42F1a;
  --yellow-dark: #B89C00;
  --red: #FF3D60;
  --red-75: #FF3D60bf;
  --red-50: #FF3D6080;
  --red-25: #FF3D6040;
  --red-10: #FF3D601a;
  --shadow-tiny: 0px 2px 2px 0px rgba(0, 0, 0, 0.04);
  --shadow-sm: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  --shadow-md: 0px 8px 8px 0px rgba(0, 0, 0, 0.08);
  --shadow-lg: 0px 14px 14px 0px rgba(0, 0, 0, 0.08);
  --shadow-xl: 0px 28px 20px 0px rgba(0, 0, 0, 0.08);
  --shadow-upwards-sm: 0px -4px 4px 0px rgba(0, 0, 0, 0.08);
  --shadow-diffuse: 0px 4px 64px 0px rgba(0, 0, 0, 0.08);

  /* Semantic colors */
  --bg-default: var(--white);
  --bg-xlight: var(--grey050);
  --bg-xxlight: var(--grey075);
  --bg1: var(--grey1);
  --bg1-2: var(--grey150);
  --bg2: var(--grey2);
  --bg3: var(--grey3);
  --text-default: var(--black);
  --text-subtle: var(--grey5);
  --text-muted: var(--grey4);
  --text-weak: var(--grey3);
  --text-negative: var(--white);
  --text-on-primary: var(--white);
  --text-on-accent1: var(--white);
  --text-on-accent2: var(--black);
  --text-on-warning: var(--white);
  --border-default: var(--grey2);
  --border-subtle: var(--grey1);
  --border-vivid: var(--grey3);
  --primary: var(--green);
  --primary-75: var(--green-75);
  --primary-50: var(--green-50);
  --primary-25: var(--green-25);
  --primary-10: var(--green-10);
  --primary-10: var(--green-10);
  --primary-pseudo10: var(--green-pseudo10);
  --accent1: var(--purple);
  --accent1-75: var(--purple-75);
  --accent1-50: var(--purple-50);
  --accent1-25: var(--purple-25);
  --accent1-10: var(--purple-10);
  --accent2: var(--yellow);
  --accent2-75: var(--yellow-75);
  --accent2-50: var(--yellow-50);
  --accent2-25: var(--yellow-25);
  --accent2-10: var(--yellow-10);
  --accent2-dark: var(--yellow-dark);
  --warning: var(--red);
  --warning-75: var(--red-75);
  --warning-50: var(--red-50);
  --warning-25: var(--red-25);
  --warning-10: var(--red-10);
}

[data-theme='dark'] {
  --bg-default: #13161a;
  --bg-xlight: #181c21;
  --bg-xxlight: #1f242b;
  --bg1: #20252d;
  --bg1-2: #2a303a;
  --bg2: #323844;
  --bg3: #3c4350;
  --text-default: var(--white);
  --text-subtle: var(--white-75);
  --text-muted: #d0d4dc;
  --text-weak: #b6bbc4;
  --text-negative: var(--white);
  --text-on-primary: var(--white);
  --text-on-accent1: var(--white);
  --text-on-accent2: var(--white);
  --text-on-warning: var(--black);
  --border-default: #3c4350;
  --border-subtle: #2a303a;
  --border-vivid: #505968;
  --primary: #38c59d;
  --primary-75: #38c59dbf;
  --primary-50: #38c59d80;
  --primary-25: #38c59d40;
  --primary-10: #38c59d1a;
  --primary-pseudo10: #162925;
  --accent1: #a98bff;
  --accent1-75: #a98bffbf;
  --accent1-50: #a98bff80;
  --accent1-25: #a98bff40;
  --accent1-10: #a98bff1a;
  --accent2: #f2d42f;
  --accent2-75: #f2d42fbf;
  --accent2-50: #f2d42f80;
  --accent2-25: #f2d42f40;
  --accent2-10: #f2d42f1a;
  --accent2-dark: #b89c00;
  --warning: #ff5c7a;
  --warning-75: #ff5c7abf;
  --warning-50: #ff5c7a80;
  --warning-25: #ff5c7a40;
  --warning-10: #ff5c7a1a;
}

body {
  margin: 0;
  color: var(--text-default);
  background-color: var(--bg-default);
}

.docs-story > * {
  background: var(--bg-default) !important;
}

:root {
  /* Font sizes */
  --font-body: 14px;
  --font-body-small: 12px;
  --font-body-large: 16px;
  --font-h1: 26px;
  --font-h2: 21px;
  --font-h3: 19px;
  --font-h4: 17px;
  --font-h5: 15px;
  --font-h6: 14px;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
} 